[submodule "vim/janus/less-syntax"]
	path = vim/janus/less-syntax
	url = https://github.com/vim-scripts/less-syntax.git
[submodule "vim/janus/VimClojure"]
	path = vim/janus/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
